Q1. Pandas version

In [7]:
import pandas as pd

In [8]:
pd.__version__

'2.3.2'

In [ ]:
Getting the data

In [9]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"

In [10]:
df = pd.read_csv(url,index_col=0)

In [11]:
df.head(n=2)

,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
engine_displacement,,,,,,,,,,
170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

Q2. Records count

In [12]:
df.index

Index([170, 130, 170, 220, 210, 190, 240, 150, 250, 150,
       ...
       220, 280, 190, 220, 180, 140, 180, 220, 230, 270],
      dtype='int64', name='engine_displacement', length=9704)

Q3. Fuel types

In [13]:
df.fuel_type.nunique()

2

Q4. Missing values

In [16]:
df.isnull().sum()

num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [ ]:
Q5. Max fuel efficiency

In [19]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [ ]:
Q6. Median value of horsepower

In [21]:
df.head(n=2)

,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
engine_displacement,,,,,,,,,,
170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

In [22]:
df.horsepower.median()

149.0

In [23]:
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [28]:
df['horsepower'] = df['horsepower'].fillna(152.0)

In [30]:
df.horsepower.median()

152.0

In [ ]:
Q7. Sum of weights

In [31]:
df[df['origin'] == "Asia"]

,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
engine_displacement,,,,,,,,,,
250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...
260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [32]:
df[df['origin'] == "Asia"][['vehicle_weight', 'model_year']]

                     vehicle_weight  model_year
engine_displacement
250                     2714.219310        2016
320                     2783.868974        2010
200                     3582.687368        2007
150                     2231.808142        2011
160                     2659.431451        2016
...                             ...         ...
260                     3948.404625        2018
180                     3680.341381        2016
280                     2545.070139        2012
180                     3107.427820        2005
270                     2908.043477        2005

[3247 rows x 2 columns]

In [33]:
df[df['origin'] == "Asia"][['vehicle_weight', 'model_year']].head(n=7)

                     vehicle_weight  model_year
engine_displacement
250                     2714.219310        2016
320                     2783.868974        2010
200                     3582.687368        2007
150                     2231.808142        2011
160                     2659.431451        2016
150                     2844.227534        2014
190                     3761.994038        2019

In [35]:
X = df[df['origin'] == "Asia"][['vehicle_weight', 'model_year']].head(n=7).values

In [38]:
XTX = X.T.dot(X)

In [39]:
import numpy as np

In [41]:
XTX_Inv = np.linalg.inv(XTX)

In [43]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [45]:
w = XTX_Inv.dot(X.T) * y

In [46]:
w.sum()

np.float64(0.5187709081074023)